.card{
    background-color: #F4EBDB;
    margin-bottom: 5px;
    height: 100%;
    transition: transform .2s;
    position: relative;   
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.icon_star{
    display: flex;
    justify-content: center;
    width: 2rem;
    height:1.5rem;
    padding: 0rem;
    margin: 0rem;
}
.icon_star>img{
    object-fit: cover;
    height:100%;
    width:auto;
    margin-right: 0.3rem;
}
.card:hover{
    transform: scale(1.05);
}
.p{
    flex-grow:1; 
}
.col{
    margin-bottom: 1rem;
}
.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #fff;
    transform: translate(0px, -90px) rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: end;
}  
.card:hover .overlay {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}